# Node Backend Server Configuration
PORT=3000

# Supabase Credentials (replace with your actual project keys)
NEXT_PUBLIC_SUPABASE_URL=https://cccquwzofhdjfpgneezv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_NhThQYXs_rQ6Biz8wuIMRQ_W1qdpX3n

# Azure IoT Hub (Service-side — for backend)
IOT_HUB_CONNECTION_STRING=HostName=YOUR_HUB.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=YOUR_KEY
IOT_HUB_EVENT_HUB_ENDPOINT=Endpoint=sb://....servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=YOUR_KEY;EntityPath=YOUR_HUB
